.App {
  /* text-align: center; */
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}


body {
  background-color: #62c2c8;
}

li, ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  text-align: start;
  font-family: 'Montserrat', sans-serif;
}

.crossed {

  text-decoration: line-through 2px red;
  background-color: #f0f0f0;

}

h1 {
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}

.add {
  margin-top: 5px;
  background: #65aa06;

}
.delete {
  background: #d30100;
  margin-top: 5px;
}
.btn {
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}